In [1]:
number = 10
print(number)

10

In [2]:
print(id(number))

3181302776336

In [3]:
number2 =1
print(id(number2))

3181302776048

In [4]:
number = 90
print(number)

90

In [5]:
print(id(number))

3181302778896

In [7]:
number = 10+45
print(number)
print(id(number))

55
3181302777776

In [11]:
age = 30 
print(age)
print(type(age))

30
<class 'int'>

In [10]:
salary = 3.5
print(salary)
print(type(salary))

3.5
<class 'float'>

In [12]:
name = 'Bui Diem Quynh Anh'
print(name)
print(type(name))

Bui Diem Quynh Anh
<class 'str'>

In [16]:
male =True
print(male)
print(type(male))

True
<class 'bool'>

In [17]:
_name='python'
print(_name)

python

In [18]:
first-name = 'John'
print(first-name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3469763342.py, line 1)

In [19]:
first name = 'John'
print(first-name)

SyntaxError: invalid syntax (3888523867.py, line 1)

In [20]:
name!^&&^%$ ="python"
print(name!^&&^%$)

SyntaxError: invalid syntax (1954404398.py, line 1)

In [30]:
employee_list_2023 ="Employee List"
print(employee_list_2023)

Employee List

In [33]:
course ="Pytho"
print(course)

Pytho

In [34]:
print(Course)

Python

In [ ]:
student_name = "nguyen van a"
gender = True
total_income = 45
student_list = 54
math_Student_list_number = 30

In [36]:
course = 'python programming'
year = "2023"
course_name = course + " " + year
print(course_name)

python programming 2023

## toan tu toan hoc

+ cong
- tru
* nhan
/ chia
% chia lay phan du (modulus)
// lay so du phep chia
** luy thua

In [37]:
first_num = 10
second_num = 4
print(first_num + second_num)
print(first_num - second_num)
print(first_num * second_num)
print(first_num / second_num)

14
6
40
2.5

In [40]:
print(first_num % second_num)
print(first_num // second_num)
print(first_num ** second_num)

2
2
10000

In [41]:
print('hello world'*5)

hello worldhello worldhello worldhello worldhello world

In [42]:
print('*'*100)

****************************************************************************************************

## toan tu gan assignment

=    x=y    x=y
+=   x+=y   x=x+y
-=   x-=y   x=x-y
*=   x*=y   x=x*y
/=   x/=y   x=x/y
%=   x%=y   x=x%y

In [43]:
number1 = 10
number2 = 3
number1 += number2 

print(number1)

13

In [44]:
number1 -= number2
print(number1)

10

In [46]:
number1 /= number2
print(number1)

1.1111111111111112

In [47]:
number1*= number2
print(number1)

3.3333333333333335

## toan tu so sanh

== a==b  #false
!= a!=b #true
< > <= >=

In [48]:
number1 = 10
number2 = 3
print(number1 == number2)
print(number!= number2)
print(number>= number2)
print(number<= number2)

False
True
True
False

## toan tu logic

and 
or
not

In [50]:
day ="sunday"
weather = "sunny"
friends = "free"
decision = day == "sunday" and weather =="sunny" and friends =="free"
print(decision)

True

In [51]:
meal = "chicken"
answer = meal == "chicken" or meal == "fish"
print(answer)

True

In [52]:
print (not answer)

False

In [53]:
answer = not (meal == "chicken" or meal == "fish")
print(answer)

False

In [61]:
a= 10
b=11
c=7
answer = a+b>c and a+c>b and b+c>a
print(answer)

True

## kiem tra la tam giac thuong hay vuong hay can

In [11]:
a = int(input())
b = int(input())
c = int(input())
if a+b>c and a+c>b and b+c>a:
    if a==b and b==c and c==a:
        print('day la tam giac deu')
    elif a==b or b==c or a==c :
        print('day la tam giac can')
    elif a*a==b*b+c*c or b*b==a*a+c*c or c*c==b*b+a*a:
        print('day la tam giac vuong')
    else: 
        print('day la tam giac binh thuong')
else:
    print('day khong phai tam giac')

6
6
9
day la tam giac can

In [11]:
a=4
b=4
c=6
tg= a+b>c and a+c>b and b+c>a
print("co phai la tam giac", tg)

co phai la tam giac True

In [12]:
tg_deu = a==b and b==c
print('tam giac deu',tg_deu)

tam giac deu False

In [13]:
tg_can = ((a==b and b!=c) or (b==c and c!=a) or (a==c and c!=b) and tg)
print('tam giac can', tg_can)

tam giac can True

In [14]:
tg_vuong = tg and (a*a==b*b+c*c or b*b==a*a+c*c or c*c==b*b+a*a)
print('tam giac vuong', tg_vuong)

tam giac vuong False

In [15]:
tg_thuong = tg and not tg_deu and not tg_can and not tg_vuong
print('tam giac thuong', tg_thuong)

tam giac thuong False

In [16]:
cosA = (b**2 + c**2 - a**2) /(2*b*c)
print(cosA)

0.75

In [17]:
import math
gocA =  math.acos(cosA)
print(gocA)

0.7227342478134157

x=111
y=87
z=56
a=3

s_hinhhopchunhat =  (x + y) * 2 * z + 2 * x * y
s_hinhlapphuong = a**2 *6
sl = s_hinhhopchunhat / s_hinhlapphuong
print('so hop dung duoc la', sl)

In [25]:
x=111
y=87
z=56
a=3

v_hinhhopchunhat =  x*y*z
v_hinhlapphuong = a*a*a
sl = v_hinhhopchunhat / v_hinhlapphuong
print('so hop dung duoc la', sl)

so hop dung duoc la 20029.333333333332

In [30]:
x=111
y=87
z=56
a=3

chieudai= x//a
chieurong = y//a
chieucao = z//a
kq= (chieudai *chieurong*chieucao)
print('so hop dung duoc la', kq)

so hop dung duoc la 19314

In [34]:
r=25
h=32 

chuviday= r*2*3.14
dientichday= r**2 *3.14
dientichxungquanh= h*chuviday
dientichtoanphan = dientichxungquanh + dientichday *2 
thetich= dientichday * h

print(chuviday, dientichday, dientichxungquanh, dientichtoanphan, thetich)

157.0 1962.5 5024.0 8949.0 62800.0

In [38]:
phithuebao = 25000
sudung = 256
muc1 = 600
tg1 = 50
muc2= 400
tg2 = 150
muc3 = (sudung - tg1 -tg2) * 200
tongtien = phithuebao + muc1* tg1 + muc2*tg2 +muc3
print('tong tien phai tra', tongtien)

tong tien phai tra 126200

In [44]:
#cho 3 điểm có 3 điểm A,B,C bất kì theo thứ tự đã cho. Tìm điểm D sao cho ABCD là hình bình hành\

xA = int(input())
yA = int(input())
xB = int(input())
yB = int(input())
xC = int(input())
yC = int(input())
xI = (xA+xB)/2
yI = (yA+yB)/2
xD = xI *2 - xC
yD = yI *2 - yC
print('toa do diem I', xD, yD)

1
1
2
2
1
1
toa do diem I 2.0 2.0